<!--The content below is only a placeholder and can be replaced.-->
<div class ="left">
   <button routerLink="csee"> Csee </button>
</div>
<br><div style="text-align:center">
     <h1> Student Page </h1>
        <div>
          <input [(ngModel)]="signin.username" placeholder="username"><br>
          <input [(ngModel)]="signin.password" placeholder="password" type="password"><br>
          <button (click)="SignIn()"> Sign In </button>
          <br><br><a routerLink="student-signup"> Sign Up </a>
        </div>
</div>


 
