<div class="smallbox">
 <div class="flash flash-success">
    {{detail[1]}} &nbsp; {{detail[0]}} <p style="float:right; font-weight:bold"> {{detail[2]}} </p>
  </div>
  <br>
  <div class="Box">
    <div class="Box-header"> 
      <span class="in w40"><strong>Commit Time</strong></span>
      <span class="in w40"><strong>Commit message</strong></span>
      <span class="in w20"><strong>Score</strong></span>
    </div>
    <div class="Box-row" *ngFor="let info of detail[3]">
      <span class="in w40">{{info[0]}}</span>
      <span class="in w40">{{info[1]}}</span>
      <span class="in w20">
        <a *ngIf="info.length < 10; else elseCase"> {{info[2]}} </a>
        <ng-template #elseCase>
        <b>error</b>
        </ng-template>
      </span>
    </div>
  </div>
</div>
