<h3> {{detail[1]}}  {{detail[0]}} </h3>
<h2> {{detail[2]}} </h2>
  <table width = "100%">
  <thead>
    <tr class="trow">
      <th> 날짜 </th>
      <th> commit number </th>
      <th> score </th>
    </tr>
  </thead>
  <br/>
  <tbody *ngFor="let info of detail[3]">
    <tr>
      <th> </th>
      <th> bea3iskdfa</th>
      <th> <a *ngIf="info.length < 10; else elseCase"> {{info}} </a>
          <ng-template #elseCase>
            <b>error</b>
          </ng-template>
      </th>
    </tr>
  </tbody>
  </table>
