body{
    color : black;
}
hr {
    margin-left: 0px;
    width: 70%;
}
.l {
    float: left;
}
.mar1 {
   margin-top: 3%;
   margin-left: 2%;
   height: 30%;
}
.mar2 {
    margin-top: 2%;
    margin-left: 2%;
}
.mar3 {
    margin-top: 3%;
    margin-left: 2%;
}
.trow {
    color: black;
    background-color:#87BA32;
    height: 3vmin;

}
h3.bold {
    font-size : 20pt;
    font-weight: bold;
}
p.bold{
    font-size : 12pt;
}
.r {
    float: right;
    margin-left: 5%;
}
.divide {
    margin-top: 2px;
    border-bottom: 1px solid #eef1f6;
}
.terminal{
    background-color: #F6F7F4;
    height: 20vmin;
    color: black;
}
