<h1> Homework Register </h1>
    <label for="homeworkName">hw_name:</label>
    <input type="text" name="name" id="homeworkName" maxlength="140"
           required [(ngModel)]="register.hw_name"/>

    <br><label for="homeworkName">basecode_url:</label>
    <h3>{{hwinfo[0]}}</h3>
 
    <br><label for="homeworkName">evaluation_url:</label>
    <h3>{{hwinfo[1]}}</h3>
 
    <br><label for="homeworkDescription">description:</label>
    <input type="text" name="description" id="homeworkDescription" maxlength="140"
           required [(ngModel)]="register.hw_description"/>

    <br><label for="homeworkDuedate">duedate:</label>
    <input type="datetime-local" name="duedate" id="homeworkDuedate" maxlength="140"
           required [(ngModel)]="register.hw_duedate"/>

    <br><button (click)="Register()"> Create! </button>
