<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <div class="contents">
    <div class="font">
      <br><h2 class="teaser-txt"> Score Your Commit Instantly. </h2>
      <br><p class="fcolor"> <br>We designed and implemented an automated programming assignment assessment system for GitHub repositories. <br>
Perform your tasks with Github in a better environment.</p>
    </div>
    <div style="text-align: center">
    <img src="https://source.unsplash.com/Skf7HxARcoc/800x450">    
    </div>
  </div>

