<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <div class="contents">
    <div class="font">
      <h2 class="teaser-txt"> Score<br>Your Commit<br>Instantly.</h2>
      <p class="fcolor"> Turnincode is an automated programming<br>
                         assignment assessment system for GitHub<br>
                         repositories.Perform your tasks with<br>
                         Github in a better environment.</p>
    </div>
<!--    <div style="text-align: right">
   img src="https://source.unsplash.com/Skf7HxARcoc/800x450">*/
    -->
<!--    <img src="https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1310&q=80">
-->
    <div class="imgbox">
<!--    <img src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80">
-->
        <img src="https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80">
    </div>
  </div>
