{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <app-root></app-root>
    <script type="text/javascript" src="{% static 'runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
<div style="text-align:center">
      <br><button style="color:black" onclick="window.location.href='{% url 'social:begin' 'github' %}'">Sign In</a><br>
    </div>

