<section>
  <div class="small">
    <div class="userbox">
      <fa-icon [icon]="faUser"></fa-icon>&nbsp;
      <a class="h4" style="text-decoration: none; color: #25292E;" href="http://turnincode.cafe24.com:8888/student-page">{{current_user}}</a>
    </div>
    <hr>
    <h4 class="hwtitle"> Homeworks </h4>
      <br>
    <input [(ngModel)]="searchText" class="form-control input-block" type="text" placeholder="Find a homework..." aria-label="Full-width input" />
      <br>
    <div class="hws" *ngFor="let hw of hwlist | filter : searchText">
      <fa-icon [icon]="faBook"></fa-icon>&nbsp;
      <a class = "h4 hw" [routerLink]="['/student-page', hw[0]]">{{hw[1]}}</a>
    </div>
      <br>
  </div>
</section>
<aside>
  <router-outlet></router-outlet>
</aside>
