h3 {
    font-size: 30px;
}
section {
    color: black;
    height: 100%;
    width: 20%;
    float: left;
    border: 1px solid #eef1f6;
    background-color: #F1F1F3;
}
aside {
    height: 100%;
    width: 79.5%;
    float: right;
    border: 1px solid #eef1f6;
}
