<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://kit.fontawesome.com/d6dd2c6584.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
<div class="center">
  <h2>Who Are You?</h2>
  <br><div class="inline">
    <a class="button1" routerLink="student-signup"><fa-icon [icon]="faUser" size="5x" [styles]="{'color': '#6a6271'}"></fa-icon></a>
    <a class="button2" routerLink="csee"><fa-icon [icon]="faSchool" size="5x" [styles]="{'color': '#6a6271'}"></fa-icon></a>
  </div>
</div>
</body>
</html>
