<div class="smallbox">
  <h3> Scoreboard </h3>
  <div class="box-shadow-large p-3">
      {{hw_name}} <p style="float:right"> {{hw_duedate}} </p>
  </div>
  <br>
  <div class="Box">
    <div class="Box-header">
      <span class="in w25"><strong>Student Number</strong></span>
      <span class="in w25"><strong>Student Name</strong></span>
      <span class="in w25"><strong>Github ID</strong></span>
      <span class="in w15"><strong>Score</strong></span>
      <span class="in w10"><strong>Detail</strong></span>
    </div>
    <div class="Box-row" *ngFor = "let score of scorelist">
      <span class="in w25">{{score[0]}}</span>
      <span class="in w25">{{score[1]}}</span>
      <span class="in w25">{{score[2]}}</span>
      <span class="in w15">{{score[3]}}</span>
      <button class="btn btn-sm in w10" type="button" routerLink ="{{score[2]}}">Detail</button>
    </div>
  </div>
</div>
