<h3 style="color:#87BA32; margin-left:15px"> Scoreboard </h3>
 <table width = "100%">
 <thead> 
    <tr class="trow"> 
     <th> Student number </th>
     <th> Student name </th> 
     <th> github ID </th>
     <th> Score </th> 
    </tr>
 </thead>
 <br/>
 <tbody *ngFor = "let score of scorelist">
     <tr class="tbottom">
       <th> <a class="router" routerLink = "{{score[2]}}"> {{score[0]}} </a></th>
       <th> <a class="router" routerLink = "{{score[2]}}"> {{score[1]}} </a> </th>
       <th> <a class="router" routerLink = "{{score[2]}}"> {{score[2]}} </a></th>
       <th> {{score[3]}} </th>
     </tr>
 </tbody>
</table>
